{% extends 'base.html.twig' %}

{% block body %}
    <h1>Job Creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <div>
            <button type="submit"></button>
        </div>
    {{ form_end(form) }}
{% endblock %}