<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %} Jobeet - Your best job board {% endblock %}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"></meta>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <nav class="flex">
            <div class="bg-red-300">
                <a href="{{path('job.list')}}" class="text-5xl">Jobeet</a>
            </div>
            <ul>
                <li>
                    <div>
                        <a href="{{ path('job.create') }}" class="btn btn-default navbar-btn">Post a Job</a>
                    </div>
                </li>
            </ul>
        </nav>
        <div class="container mx-auto">
            {% block body %}{% endblock %}
        </div>
    </body>
</html>